.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
    gap: 10px;
}


 .productImgContainer{
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.productContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productBtn{
    width: 175px;
    height: 35px;
}

