/*** Contenedor general ***/
.cartModalContainer {
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 999;
}

/* Contenido del modal */
.cartModalContent {
  background-color: white;
  border: 1px solid #D3D7DA;
  border-radius: 6px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  font-family: "Kanit", sans-serif;
  max-width: 720px;
  width: 90%;
  min-width: 280px;
  padding: 20px 24px;
}

/* Header */
.cartModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.cartModalHeader h3 {
  margin: 0;
  font-weight: 600;
}

/* Icono de cierre del Ad */
.cartCloseIcon{
    color: black;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.cartCloseIcon:hover {
    color: #111A2A;; 
    transition: all 0.3s ease;
}

/* Body */
.cartModalBody {
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 4px;
}

/* Footer */
.cartModalFooter {
  margin-top: 16px;

  & span{
    font-weight: 600;
  }
}

.cartTotalLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

/* Botonera (reusa tu estilo) */
.cartModalButtons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

/* === Reuso del look de confirm modal === */
.confirmBtn {
  background-color: #111A2A;
  color: white;
  font-size: 0.9rem;
  font-family: "Kanit", sans-serif;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
  transition: background-color 0.5s ease;
}
.confirmBtn:hover { background-color: #000000; }

.cancelBtn {
  background-color: transparent;
  color: #000;
  font-size: 0.9rem;
  font-family: "Kanit", sans-serif;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
  transition: background-color 0.5s ease;
}
.cancelBtn:hover { background-color: #D3D7DA; }


/*---------------------------------------------------------------------------------------------------------------------------*/


/************** MEDIA QUERY **************/

/***** TABLET *****/

@media screen and (max-width: 1024px){
  .cartModalContent { padding: 12px 16px; }
  .confirmBtn, .cancelBtn { font-size: 0.85rem; padding: 7px 12px; }

   .cartModalHeader h3 {
    font-size: 1.1rem;
  }

  .cartModalBody h4,
  .cartModalBody h5,
  .cartModalBody p,
  .cartTotalLine span,
  .cartTotalLine strong {
    font-size: 1rem;
  }
}

/***** MOBILE *****/

@media screen and (max-width: 769px){
  .cartModalContent { padding: 8px 10px; }
  .confirmBtn, .cancelBtn { font-size: 0.75rem; padding: 6px 10px; }

   .cartModalHeader h3 {
    font-size: 1rem;
  }

  .cartModalBody h4,
  .cartModalBody h5,
  .cartModalBody p,
  .cartTotalLine span,
  .cartTotalLine strong {
    font-size: 0.95rem;
  }
}