/* Contenedor general del Ad */

.adContainer {
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    height: 5vh;             /* altura fija del banner */
    justify-content: center;
    left: 0;
    padding: 0 40px;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Texto del Ad */

.adText{
    color: white;
    flex-grow: 1;
    font-family: "Geologica", sans-serif;
    font-size: 0.85rem;
    text-align: center;
}

/* Icono de cierre del Ad */

.adCloseIcon{
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.adCloseIcon:hover {
    color: #919191; 
    transition: all 0.3s ease;
}


/******************************************************************************************************************/


/********** MEDIA QUERY **********/

/* TABLET */

@media screen and (max-width: 1024px){
    .adContainer{
        gap:5px;
        height: 4vh;
        padding: 0 25px;
    }

    .adText{
        font-size: 0.75rem;
    }

    .adCloseIcon{
        font-size: 0.8rem;
    }
}

/* MOBILE */

@media screen and (max-width: 767px){
    .adContainer{
        gap:5px;
        height: 3.5vh;
        padding: 0 15px;
    }

    .adText{
        font-size: 0.65rem;
    }

    .adCloseIcon{
        font-size: 0.7rem;
    }
} 
