/* Item del carrito */
.cart-item {
  border: 1px solid #D3D7DA;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  color: black;
  background-color: white;
}
.cart-item-info h4 { margin: 0 0 6px; }
.cart-item-info h5 { margin: 0; font-weight: 500; }
.cart-item-actions { display: flex; gap: 8px; }

.cart-item-actions .confirmBtn,
.cart-item-actions .cancelBtn {
  font-size: 0.9rem;
  padding: 8px 16px;
}


/*---------------------------------------------------------------------------------------------------------------------------*/


/************** MEDIA QUERY **************/

/***** TABLET *****/

@media screen and (max-width: 1024px) {
  .cart-item-info h4 {
    font-size: 0.95rem;
  }

  .cart-item-info h5 {
    font-size: 0.85rem;
  }

  .cart-item-actions .confirmBtn,
  .cart-item-actions .cancelBtn {
    font-size: 0.85rem;
    padding: 7px 12px;
  }

  .cart-item-actions .confirmBtn,
  .cart-item-actions .cancelBtn {
    font-size: 0.85rem;
    padding: 7px 12px;
  }
}

/***** MOBILE *****/

@media screen and (max-width: 769px) {
  .cart-item-info h4 {
    font-size: 0.9rem;
  }

  .cart-item-info h5 {
    font-size: 0.8rem;
  }
  .cart-item-actions{
    flex-direction: column;
  }
  .cart-item-actions .confirmBtn,
  .cart-item-actions .cancelBtn {
    font-size: 0.75rem;
    padding: 6px 10px;
  }
}