/*** Contenedor general ***/
.headerContainer{
    align-items: start;
    background-image: url("/adidasxoasiswallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    margin-top: 10vh;
    overflow-x: hidden;
    padding-left: 40px;
    width: 100%;
}

.headerContainer.withAd {
    margin-top: 15vh;
}


/* Titulo y subtitulo del sitio */
.headerContainer h1,
.headerContainer h3 {
  background-color: white;
  width: fit-content; 
  padding: 0 6px;
  font-family: "Noto Sans JP", sans-serif;  
}

.headerContainer h1{
  font-size: 1.7rem;
  font-weight: 700;
}

.headerContainer h3{
  font-size: 1rem;
  font-weight: 400;
}


/*---------------------------------------------------------------------------------------------------------------------------*/


/************** MEDIA QUERY **************/

/***** TABLET *****/

@media screen and (max-width: 1024px){

    /*** Contenedor general ***/
    .headerContainer{
        height: 60vh;
        margin-top: 8vh;
        padding-left: 25px;
        gap: 8.5px;
    }

    .headerContainer.withAd {
        margin-top: 12vh;
    }


    /* Titulo y subtitulo del sitio */
    .headerContainer h1{
        font-size: 1.5rem;
    }

    .headerContainer h3{
        font-size: 0.85rem;
    }
}


/***** MOBILE *****/

@media screen and (max-width: 769px){

    /*** Contenedor general ***/
    .headerContainer{
        height: 45vh;
        margin-top: 6vh;
        padding-left: 15px;
        gap: 8px;
    }

    .headerContainer.withAd {
        height: 45vh;
        margin-top: 9.5vh;
    }


    /* Titulo y subtitulo del sitio */
    .headerContainer h1{
        font-size: 1rem;
    }

    .headerContainer h3{
        font-size: 0.65rem;
    }
}


@media screen and (max-width: 585px){

    /*** Contenedor general ***/
    .headerContainer{
        height: 35vh;
        margin-top: 6vh;
        padding-left: 15px;
        gap: 8px;
    }

    .headerContainer.withAd {
        margin-top: 9.5vh;
        height: 35vh;
    }
}

